client/node_modules/
npm-debug.log

.vs/
*.suo
*.user

.DS_Store
Thumbs.db

*.tmp
*.cache

geoserver_data/**/*.lck
geoserver_data/**/*.bak
geoserver_data/**/*.orig
geoserver_data/gwc/
geoserver_data/gwc-layers/
geoserver_data/logs/*.log
geoserver_data/tomcat_pass.txt
geoserver_data/security/masterpw/
geoserver_data/security/masterpw.digest
geoserver_data/security/masterpw.xml
geoserver_data/security/geoserver.jceks